.albumPageContainer {
  margin: 0 auto;
}

.allAlbumInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  max-width: 1100px;
  margin: 0 auto;
  animation: ShowInfo 2s ease;
}

.singleAlbumInfoContainer {
  cursor: pointer;
}

.albumInfoImg {
  width: 300px;
  height: 210px;
  border-radius: 15px;
  object-fit: cover;
}

.albumInfoDescription {
  height: fit-content;
  text-align: center;
  margin-bottom: 10px;
}

.albumInfoDescriptionName{
  display: block;
  font-size: 1.30rem;
  margin: 5px;
  max-width: 280px;
}

.albumInfoUpdated {
  font-size: 0.85rem;
  color: rgba(0, 0, 0, 0.65);
}

.albumNew {
  color: red;
}

.albumFilterYearContainer {
  padding: 2rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.albumFilterYear {
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  padding: 10px;
}

.albumFilterYear:hover:not(.letterFilterYearActive) {
  color: var(--hoverBlue);
}

.letterFilterYearActive {
  background-color: black;
  color: white;
  border-radius: 15px;
}

.singleAlbumInfoContainer:hover{
  border: 2x solid var(--lightBlue);
  border-radius: 5px;
}

@keyframes ShowInfo {
  0%   { transform: translateY(60vh); opacity: 0.2;}
  100% { transform: translateY(0); opacity: 1;}
}
