.allAlbumInfoContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 1300px;
  margin: 0 auto;
  animation: ShowInfo 2s ease;
}

.singleAlbumInfoContainer {
  cursor: pointer;
}

.albumInfoImg {
  width: 300px;
  height: 210px;
  border-radius: 15px;
  object-fit: cover;
}

.albumInfoDescription {
  height: 50px;
  text-align: center;
}

.albumInfoDescriptionName{
  display: block;
}

.albumNew {
  color: red;
}

.albumFilterYear {
  cursor: pointer;

}

.albumFilterYear:hover {
  color: var(--lightBlue);
}

@keyframes ShowInfo {
  0%   { transform: translateY(60vh); opacity: 0.2;}
  100% { transform: translateY(0); opacity: 1;}
}
