.allLetterInfoContainer {
  display: flex;
  flex-direction: column;
  max-width: 1100px;
  margin: 0 auto;
}

.singleLetterInfoContainer {
  cursor: pointer;
  padding: 5px 15px;
}

.letterInfo {
  display: grid;
  grid-template-columns: 5fr 2fr;
}

.letterName {
  font-size: 1.30rem;
}

.letterNew {
  color: red;
  margin-left: 10px;
}
