.homeMobileBottomMenuContainer {
  position: fixed;
  bottom: 0px;
  width: 100vw;
  background-color: white;
  padding: 5px 20px 5px;
}

.homeMenuContentDiv {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 1fr 1fr ;
}

.menuBtn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menuMainBtnDiv {
  background-color: bisque;
  align-items: center;
  border-radius: 50%;
  width: 15vw;
  aspect-ratio: 1/1;
}

.menuBtn:hover {
  color: var(--hoverBlue);
}

@media screen and (min-width:650px) {
  .homeMobileBottomMenuContainer{
    display: none;
  }
}
