.OfferingModalContainer {
  width: 500px;
  padding: 15px;
}

.OfferingModalConfirmBtn {
  background-color: var(--hoverBlue);
  color: white;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.OfferingModalConfirmBtn:hover {
  color: var(--hoverBlue);
  background-color: white;
  border: 2px solid var(--hoverBlue);
}

@media screen and (max-width: 600px) {
  .OfferingModalContainer {
    width: 80vw;
  }
}
