

.AttendanceFormContainer {
  max-width: 800px;
  margin: 0px auto 10vh;
  position: relative;
  padding: 5px 8px;
}

.AttendanceFormTitleContainer {
  /* display: fixed; */
  position: sticky;
  top: 0px;
  background-color: var(--offWhite);
  border-bottom: 2px solid #576f76;
}

.AttendanceFormTitle {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  padding: 8px 5px;
}

.AttendanceFormTitle > div {
  display: flex;
  justify-content: center;
}

.AttendanceSinglePerson {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
  padding: 3px 0px;
}

.AttendanceSinglePersonAdminMode {
  display: grid;
  grid-template-columns: 1.5fr 2.5fr 1fr 1.5fr;
  padding: 3px 0px;
}

.AttendanceSinglePerson > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.addNewAttendancePerson {
  display: flex;
  gap:15px;
  margin: 8px 3px;
}

.addNewPersonInput {
  width: 120px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid grey;
  padding: 1px 5px;
}

.addNewPersonBtn {
  border: 0px;
  border-radius: 5px;
  background-color: var(--lightBlue);
  color: white;
  cursor: pointer;
}

.AttendanceSortOrderBtn {
  display: flex;
  gap: 5px;
  align-items: center;
}

.AttendanceSortOrderBtnArrow {
  border: 2px solid var(--lightBlue);
  padding: 1px 6px;
  border-radius: 25%;
}

.checkInButton {
  border: 0px;
  border-radius: 12px;
  background-color: green;
  color: white;
  padding: 13px 20px;
  margin: 0px 5px;
}

.adminCantAttendReasonBtn {
  border: 0px;
  border-radius: 12px;
  background-color: red;
  color: white;
  padding: 13px 20px;
}

.checkInOrder {
  display: flex;
  justify-content: center;
}

.adminMenu {
  max-width: 350px;
  height: 100px;
  border: 2px solid var(--aliceBlue);
  margin: 0px auto 5vh;
  padding: 5px 8px;
}

.AttendanceClearButton {
  background-color: red;
  color: white;
  border: 0px;
  border-radius: 12px;
  padding: 13px 20px;
  margin: 0px 15px;
}

.HideAdminMenuButton {
  background-color: orange;
  color: white;
  border: 0px;
  border-radius: 12px;
  padding: 13px 20px;
  margin: 0px 15px;
}

.checkInButton:hover, .adminCantAttendReasonBtn:hover, .AttendanceClearButton:hover, .HideAdminMenuButton:hover {
  cursor: pointer;
}
