

.AttendanceFormContainer {
  max-width: 800px;
  margin: 0px auto 10vh;
  position: relative;
  padding: 5px 8px;
}

.AttendanceFormTitleContainer {
  /* display: fixed; */
  position: sticky;
  top: 0px;
  background-color: var(--offWhite);
  border-bottom: 2px solid #576f76;
}

.AttendanceFormTitle {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  padding: 8px 5px;
}

.AttendanceFormTitle > div {
  display: flex;
  justify-content: center;
}

.AttendanceSinglePerson {
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr;
  padding: 3px 0px;
}

.AttendanceSinglePerson > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkInButton {
  border: 0px;
  border-radius: 12px;
  background-color: green;
  color: white;
  padding: 13px 20px;
  margin: 0px 15px;
}

.checkInButton:hover {
  cursor: pointer;
}

.checkInOrder {
  display: flex;
  justify-content: center;
}

.adminMenu {
  max-width: 400px;
  height: 100px;
  border: 2px solid var(--aliceBlue);
  margin: 0px auto 5vh;
  padding: 5px 8px;
  position: relative;
}

.AttendanceClearButton {
  background-color: red;
  color: white;
  border: 0px;
  border-radius: 12px;
  padding: 13px 20px;
  margin: 0px 15px;
}


.AttendanceClearButton:hover {
  cursor: pointer;
}

.HideAdminMenuButton {
  background-color: orange;
  color: white;
  border: 0px;
  border-radius: 12px;
  padding: 13px 20px;
  margin: 0px 15px;
}

.HideAdminMenuButton:hover {
  cursor: pointer;
}
