*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
  padding: 0px 0px;
}


/*============ custom global className ================*/
:root {
  --lightBlue: #8dc7f2;
  --lightPurple: rgb(115,60,180);
  --lightWise: #f2b88d4f;
  --lightgray:rgb(243, 242, 241);
  --backgroundGray:#f2f3f4;
  --backgroundGreen: #2db55d;
  --backgroundOrange: #fbc847;
  --hoverBlue:#007aff;
}

/*============ background-color ================*/
.bg-trans {
  background-color: transparent;
}

.bg-white {
  background-color: white;
}

.bg-wheat {
  background-color: wheat;
}

.bg-gray {
  background-color: gray;
}

.bg-DDDDDD {
  background-color: #DDDDDD;
}

.bg-lgcoral {
  background-color: lightcoral;
}

/*============ border ================*/
.bor-sol-lggray {
  border: 3px solid lightslategray;
}

/*============ border-radius ================*/
.bor-rad-5p {
  border-radius: 5px;
}

.bor-rad-10p {
  border-radius: 10px;
}

.bor-rad-15p {
  border-radius: 15px;
}

.bor-rad-20p {
  border-radius: 20px;
}

/*============ color ================*/
.color-blk {
  color:black;
}

.color-white {
  color:white;
}

.cursor-pointer:hover{
  cursor: pointer;
}

/*============ display ================*/
.dis-block {
  display: block;
}

.dis-inl-block {
  display: inline-block;
}

.dis-none {
  display: none;
}

/*============ flex ================*/
.flx {
  display: flex;
}

.flx-center{
  display: flex;
  justify-content: center;
}

.flx-mid{
  display: flex;
  align-items: center;
}

.flx-center-space {
  display: flex;
  justify-content: space-between;
}

.flx-center-space-mid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flx-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flx-col-mid {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flx-no-wrap {
  flex-wrap: nowrap;
}

.flx-wrap {
  flex-wrap: wrap;
}
/*============ font-size ================*/
.font15p {
  font-size: 14px;
}

.font075 {
  font-size: 0.75rem;
}

.font15 {
  font-size: 1.5rem;
}

.font20 {
  font-size: 2rem;
}

.font25 {
  font-size: 2.5rem;
}

/*============ font-weight ================*/
.font-weight600 {
  font-weight: 600;
}

/*============ gap ================*/
.gap3p {
  gap: 3px;
}

.gap10p {
  gap: 10px;
}

.gap15p {
  gap: 15px;
}

.gap20p {
  gap: 20px;
}

/*============ grid ================*/
.grid {
  display: grid;
}

.grid-50-50 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.grid-75-25 {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.grid-5-2 {
  grid-template-columns: 5fr 2fr;
}

.grid-5-3 {
  display: grid;
  grid-template-columns: 5fr 3fr;
}

.grid-6-4 {
  display: grid;
  grid-template-columns: 6fr 4fr;
}

.grid-2x2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

/*============ height ================*/

.height200p {
  height: 200px;
}

.height400p {
  height: 400px;
}

.height500p {
  height: 500px;
}

.height2rem {
  height: 2rem;
}

.height25rem {
  height: 2.5rem;
}

.height3rem {
  height: 3rem;
}

.height5rem {
  height: 5rem;
}

.height-fit {
  height: fit-content;
}

.height-max-200p {
  max-height: 200px;
}

/*============ list ================*/
.list-none {
  list-style: none;
}

.line-height-170 {
  line-height: 1.7rem;
}

/*============ margin ================*/
.mrg-auto {
  margin: auto;
}

.mrg5p {
  margin: 5px;
}

.mrg10p {
  margin: 10px;
}

.mrg15p {
  margin: 15px;
}

.mrg-r-5p {
  margin-right: 5px;
}

.mrg-r-15p {
  margin-right: 15px;
}

.mrg-b-0p {
  margin-bottom: 0px;
}

.mrg-b-5p {
  margin-bottom: 5px;
}

.mrg-b-15p {
  margin-bottom: 15px;
}

.mrg-t-5p {
  margin-top: 5px;
}

.mrg-t-15p {
  margin-top: 15px;
}

.mrg-t-20p {
  margin-top: 20px;
}

.mrg-t-b-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mrg-t-b-0p {
  margin: 0px auto;
}

.mrg-t-b-10p {
  margin: 10px auto;
}

.mrg-t-b-15p {
  margin: 15px auto;
}

.mrg-t-b-auto-r-15p {
  margin: auto 15px auto;
}

/*============ overflow ================*/
.overflow-h {
  overflow: hidden;
}
/*============ padding ================*/
.pad15p {
  padding: 15px;
}

.pad-r-15p {
  padding-right: 15px;
}

.pad-l-r-15p {
  padding-left: 15px;
  padding-right: 15px;
}

.pad-l-r-3rem {
  padding-left: 3rem;
  padding-right: 3rem;
}

/*============ position ================*/
.pos-rel {
  position: relative;
}

.pos-abs {
  position: absolute;
}

/*============ right ================*/
.right0 {
  right: 0px;
}

.right10 {
  right: 10px;
}

/*============ text-decoration / underline ================*/
.txt-center {
  text-align: center;
}

.txt-decor-none {
  text-decoration: none;
}
/*============ top ================*/
.top15 {
  top: 15px;
}

.whitespace-n {
  white-space: nowrap;
}

/*============ width ================*/
.width80 {
  width: 80%;
}

.width98 {
  width: 98%;
}

.width100 {
  width: 100%;
}

.width-content {
  width: fit-content;
}

.width300p {
  width: 300px
}

.width450p {
  width: 450px
}

.width500p {
  width: 500px
}

.width80vw {
  width: 80vw;
}

.width98vw {
  width: 98vw;
}

.width100vw {
  width: 100vw;
}

.width-max-80 {
  max-width: 80%;
}

.width-max-150p {
  max-width: 150px;
}

.width-max-200p {
  max-width: 200px;
}

.width-max-250p {
  max-width: 250px;
}

.width-max-300p {
  max-width: 300px;
}

.width-max-1000p {
  max-width: 1000px;
}

/*============ z-index ================*/
.z-idx-99 {
  z-index: 99;
}

.z-idx--3 {
  z-index: -3;
}
